.heading{
    font-size: 3rem;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin-top: 1rem;
    font-weight: bold;

  }
  .imgs-container{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 90%;
    height: 520px;
    margin:20px auto;
   overflow: scroll;
   overflow-x: hidden;
  }
  .history-tag{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    height: 120px;
  }
  .history-holder{
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    border: 3px black solid;
    border-radius: 5px;
    margin: 10px;
  }
  .history-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .history-info{
  }
  .highlight-res{
    font-size: 20px;
    color: red;
  }
  .history-info span{
    font-weight: bold;
    font-size: 18px;
  }
  .history-info p{
    font-size: 16px;
  }

  .main-container {
    align-items: center;
    justify-content: center;
  }
  
  .seachbar {
    border-radius: 5px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
  }

  .seachbar select option {
    font-size: large;
  }

  .seachbar select {
    font-size: large;
  }
